{% extends "base.html" %}

{% block content %}
<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">created at</th>
      <th scope="col">url</th>
      <th scope="col">check_interval</th>
      <th scope="col">status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for link in object_list %}
    <tr class="links-to-check" data-interval="{{ link.check_interval }}" data-pk="{{ link.pk }}">
      <td>{{ link.pk }}</td>
      <td>{{ link.created }}</td>
      <td>{{ link.url }}</td>
      <td>{{ link.check_interval }}</td>
      <td class="link-status"></td>
      <td>
        <form method="POST" action="{% url 'links:links-delete' link.pk %}">
          {% csrf_token %}
          <input type="submit" value="delete" class="btn btn-primary">
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}

{% block javascript %}
<script>
  $().ready(function () {
    $('.links-to-check').each(function () {
      var $instance = $(this);
      let period = $instance.data('interval');   
      let urlToCheck = $instance.data('pk');
      setInterval(function () {
        $.ajax('/links/check/'+urlToCheck)
        .done(function (res) {
          $instance.find('.link-status').text(res.status);
          if (res.status === 200) {
            $instance.addClass('table-default');
            $instance.removeClass('table-danger');
          } else {
            $instance.addClass('table-danger');
            $instance.removeClass('table-default');
          }
        })
        .fail(function (error) {
          console.log(error.responseText)
        })
      }, period);
    })
  })
</script>
{% endblock javascript %}